EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=deacaa9579de2f
EMAIL_HOST_PASSWORD=2f062e1860532e
EMAIL_USE_TLS=false
DEFAULT_FROM_EMAIL=noreply@qlycv.local
FRONTEND_URL=http://localhost:3000
